* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.main {
  background-color: #013870;
  padding: 5rem;
}

.intro {
  .img_wrap {
    width: 20rem;
    border-radius: 50%;
    border: 5px solid #eee;
    overflow: hidden;
    img {
      width: 100%;
    }
  }

  h1,
  h3,
  p {
    color: #eee;
  }
  h1 {
    font-size: 5rem;
  }
  h3 {
    font-size: 3rem;
  }
}

.social_links {
  background-color: #01e08f;
}
