* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
}

h1,
h3,
p {
  color: #eee;
}

.sub_head {
  font-size: 4rem;
  font-weight: 700;
  color: #eee;
}

.sub_sub_head {
  font-size: 3rem;
  font-weight: 700;
  color: #eee;
}

.para {
  font-size: 1.8rem;
  font-weight: 700;
  width: min(100%, 60ch);
  line-height: 1.6;
}

.contact_btn {
  display: block;
  text-align: center;
  padding: 1.5rem;
  border-radius: 100px;
  width: 300px;
  color: #eee;
  background-color: #01e08f;
  font-size: 2rem;
  font-weight: 700;
  text-decoration: none;
}

.header {
  .intro {
    background-color: #013870;
    padding: 5rem 8%;
  }
  .img_wrap {
    width: 20rem;
    border-radius: 50%;
    border: 5px solid #eee;
    overflow: hidden;
    img {
      width: 100%;
    }
  }

  h1 {
    color: #eee;
    font-weight: 700;
    font-size: 5rem;
  }

  h3 {
    color: #eee;
    font-weight: 700;
    font-size: 3rem;
  }
}

.social_links {
  background-color: #01e08f;
  padding: 4rem;
  padding-bottom: 8rem;

  .wrap {
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2rem;
      text-decoration: none;
      font-size: 2rem;
      font-weight: 600;
      color: #013870;
      border-radius: 20px;
      padding: 2rem 1rem;
      width: 300px;

      transition: all 0.3s;
      // background-color: #ebf6de;
      /* From https://css.glass */
      background: rgba(235, 246, 222, 0.71);
      border-radius: 16px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(13.3px);
      -webkit-backdrop-filter: blur(13.3px);
      border: 1px solid rgba(235, 246, 222, 0.39);

      &:hover {
        scale: 1.2;
      }
      &:active {
        scale: 0.96;
      }

      svg {
        width: 3rem;
        stroke: #eee;
        fill: #013870;
      }
    }
  }
}

.about {
  background-color: #013870;
  padding: 5rem 8%;

  .about_wrap {
    .card {
      background-color: #222;
      padding: 2rem;
      max-width: 800px;
      width: 100%;
      margin: 2rem 0;
      border-radius: 20px;
      h4 {
        font-size: 1.8rem;
        color: #eee;
      }
      span {
        font-size: 1.7rem;
        color: #eee;
        margin-bottom: 2rem;
      }
      .para {
        font-size: 1.7rem;
      }
    }
  }

  .skills {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5;
    background-color: white;
    padding: 2rem;
    .img_wrap {
      width: 5rem;
      margin-left: 1rem;
      img {
        width: 100%;
      }
    }
  }

  .obj {
    .img_wrap {
      max-width: 35rem;
      img {
        width: 100%;
      }
    }

    strong {
      color: #01e08f;
    }
  }
}

.footer {
  background-color: #222;
  color: #eee;
  margin: 0;
  padding: 1rem;
  p {
    font-size: 1.5rem;
  }
}

// cursor Start

.cursor {
  position: fixed;
  top: -100px;
  left: 0;
  height: 69px;
  width: 69px;
  pointer-events: none;
}

.cursor-circle {
  --cursor-size: 40px;
  border: 3px solid #eee;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  position: absolute;
  top: calc(-1 * var(--cursor-size) / 2);
  left: calc(-1 * var(--cursor-size) / 2);
}

@media (max-width: 600px) {
  * {
    font-size: 8px;
  }

  .header h1 {
    font-size: 4rem;
  }

  .sub_head {
    font-size: 3rem;
  }
}

// Bubbles

.bubbles {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 999;
  overflow: hidden;
  top: 0;
  left: 0;
}
.bubble {
  position: absolute;
  bottom: -100px;
  width: 40px;
  height: 40px;
  background: #f1f1f1;
  border-radius: 50%;
  opacity: 0.5;
  animation: rise 10s infinite ease-in;
}
.bubble:nth-child(1) {
  width: 40px;
  height: 40px;
  left: 10%;
  animation-duration: 8s;
}
.bubble:nth-child(2) {
  width: 20px;
  height: 20px;
  left: 20%;
  animation-duration: 5s;
  animation-delay: 1s;
}
.bubble:nth-child(3) {
  width: 50px;
  height: 50px;
  left: 35%;
  animation-duration: 7s;
  animation-delay: 2s;
}
.bubble:nth-child(4) {
  width: 80px;
  height: 80px;
  left: 50%;
  animation-duration: 11s;
  animation-delay: 0s;
}
.bubble:nth-child(5) {
  width: 35px;
  height: 35px;
  left: 55%;
  animation-duration: 6s;
  animation-delay: 1s;
}
.bubble:nth-child(6) {
  width: 45px;
  height: 45px;
  left: 65%;
  animation-duration: 8s;
  animation-delay: 3s;
}
.bubble:nth-child(7) {
  width: 90px;
  height: 90px;
  left: 70%;
  animation-duration: 12s;
  animation-delay: 2s;
}
.bubble:nth-child(8) {
  width: 25px;
  height: 25px;
  left: 80%;
  animation-duration: 6s;
  animation-delay: 2s;
}
.bubble:nth-child(9) {
  width: 15px;
  height: 15px;
  left: 70%;
  animation-duration: 5s;
  animation-delay: 1s;
}
.bubble:nth-child(10) {
  width: 90px;
  height: 90px;
  left: 25%;
  animation-duration: 10s;
  animation-delay: 4s;
}
@keyframes rise {
  0% {
    bottom: -100px;
    transform: translateX(0);
  }
  50% {
    transform: translate(100px);
  }
  100% {
    bottom: 1080px;
    transform: translateX(-200px);
  }
}

// Loader Start
.loader_wrap {
  position: absolute;
  top: 0;
  background-color: #18506f;
  width: 100%;
  height: 100vh;
  z-index: 999999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader {
  .banner {
    position: relative;
    padding: 10px 20px;
    animation: loader 1s cubic-bezier(0.5, 0.1, 0.15, 1) alternate infinite;
  }

  @keyframes loader {
    0% {
      letter-spacing: -1px;
    }
    100% {
      letter-spacing: 15px;
    }
  }

  .banner::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    transform: skewX(-15deg);
    background-color: #eee;
  }

  .banner-left,
  .banner-right {
    width: 60px;
    height: 100%;
    position: absolute;
    z-index: -2;
    bottom: -30%;
    transform: skewX(-15deg);
    background-color: #ccc;
  }

  .banner-left {
    animation: sub-banner-left 1s cubic-bezier(0.5, 0.1, 0.15, 1) alternate
      infinite;
  }

  @keyframes sub-banner-left {
    0% {
      right: 82%;
    }
    100% {
      right: 90%;
    }
  }

  .banner-right {
    animation: sub-banner-right 1s cubic-bezier(0.5, 0.1, 0.15, 1) alternate
      infinite;
  }

  @keyframes sub-banner-right {
    0% {
      left: 82%;
    }
    100% {
      left: 90%;
    }
  }

  .banner-left::before,
  .banner-right::before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: -1px;
    border: 22px solid;
    border-color: transparent;
  }

  .banner-left::before {
    left: -1px;
    border-left-color: #18506f;
  }

  .banner-right::before {
    right: -1px;
    border-right-color: #18506f;
  }
  // Loader End
}
